# .NET Build
**/bin/
**/obj/
**/packages/

# Docker
Dockerfile*
docker-compose*
.dockerignore
**/.docker

# VS
*.user
*.suo
*.userosscache
PublishProfiles/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# VS IntelliSense/Caches
SemanticSymbols.*
dbcache*
*.db-lock

# VS Temp
*.cache
[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}

# appsettings
appsettings.json
appsettings.*.json
!appsettings.Production.json  # Keep prod if no secrets